/*
Index styling page for the MovieTheater website.
    Created on : Jul 20, 2022, 1:39:45 PM
    Author     : Nathan Williams and Akito Minosoko
*/
/*Styling for general parts of the page.*/
* {
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
/*Styling for top nav bar*/
.title-background {
    background-image: linear-gradient(#00D8D8, #03C0C1, #009C9D);
    height: 300px; 
}
.title {
    float: left;
    clear: none; 
    padding-top: 2%;
    font-size: 2.5em;
    color: white;
    text-align: center;
    width: 33%;
}
.top-nav {
    float: right;
    padding-top: 2.75%;
    width: 67%;
    font-size: 1.25em;
    text-align: center;
}
.top-nav a {
    margin-left: 50px;
    color: white;
    text-decoration: none;
}
/*Styling for movie data table*/
 .ui-datatable * {
     border: 0px !important;
 }
 .movie-data-table {
    width: 1000px;
    margin: 0 auto;
 }
 .ui-column-title {
    font-size: 1.5em;
 }