/*
Main styling for all pages except index.xhtml and SelectSeat.xhtml

By Nathan Williams and Akito Minosoko
*/
/*General styling for page*/
 * {
    font-family: Arial, sans-serif;
}
 body {
    margin: 0;
    padding: 0;
 }
 /*Styling for nav bar*/
 .nav-bar {
    background-image: linear-gradient(#00D8D8, #03C0C1, #009C9D);
    height: 125px;
}
 .title {
    float: left;
    clear: none; 
    padding-top: 2%;
    font-size: 2.5em;
    color: white;
    text-align: center;
    width: 33%;
 }
 .nav-links {
    float: right;
    padding-top: 2.75%;
    width: 67%;
    font-size: 1.25em;
    text-align: center;
 }
 .nav-links a {
    margin-left: 54px;
    color: white;
    text-decoration: none;
 }
 /*Center image horizontally on page*/
 .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 /*Styling for total section on Receipt page*/
 .receipt-total-label-ui-grid {
     width: 30%;
 }
 /*General styling for datatable*/
 .ui-datatable * {
     border: 0px !important;
 }
 /*Custom styling for datatables on theater, movie and showtimes pages*/
 .theater-data-table {
    width: 700px;
    margin: 0 auto;
 }
 .movie-data-table {
    width: 1500px;
    margin: 0 auto;
 }
 .showtimes-data-table {
    width: 700px;
    margin: 0 auto;
 }
 .ui-column-title {
    font-size: 1.5em;
 }

