/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2022, 11:14:17 PM
    Author     : minosokoa
*/

/*
Styles the general page
*/
 * {
    font-family: Arial, sans-serif;
 }
  body {
    margin: 0;
    padding: 0;
 }
 
 /*Sets the screen text */
.screen {
    font-size: 3em;
    text-align: center;
}

/*Styles the seating checkboxes in a grid */ 
.seating {
    position:relative;
    top: 90px;
    display:grid;
    gap: 50px;
    padding: 0;
    row-gap: 10px;
    grid-template-area: 'left-seats middle-seats right-seats';
    
}

/* Styles the seating for left section seats */
.left-seats {
    display:grid;
    gap: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
    column-count: 3;
}

/* Styles the seating for the middle section seats */
.middle-seats {
    display: grid;
    gap: 15px;
    grid-column-start: 3;
    grid-column-end: 7;
    column-count: 10;
    
}

/* Styles the seating for the right section seats */
.right-seats {
    display: grid;
    gap: 15px;
    grid-column-start: 8;
    grid-column-end: 9;
    column-count: 3;
}

/* Sizes the seats */
.seating input {
    
    height:65px;
    width:65px;
    
}

/* Positions the purchase button */
.purchase-button {
    position: absolute;
    bottom: -95px;
    
}
