/*
Main styling page for the MovieTheater website.
    Created on : Jul 20, 2022, 1:39:45 PM
    Author     : Nathan Williams and Akito Minosoko
*/

* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.title-background {
    background-image: linear-gradient(#00D8D8, #03C0C1, #009C9D);
    height: 500px; 
}



.title {
    float: left;
    clear: none; 
    padding-top: 2%;
    font-size: 2vw;
    color: white;
    text-align: center;
    width: 33%;
       
    
}

.top-nav {
    float: right;
    padding-top: 2.75%;
    width: 67%;
    font-size: 1vw;
    text-align: center;
    word-spacing: 50px;
}

.top-nav a {
    word-spacing: 0;
    color: white;
    text-decoration: none;
}
